# Optionale Pakete für erweiterte Funktionen

# UI-Verbesserungen
rich
colorama

# Leistungsverbesserungen
psutil
concurrent-log-handler

# Erweiterte Datenanalyse
scikit-learn
plotly
seaborn
networkx
py3Dmol
joblib

# Datenbank (erweitert)
pymongo

# Bild- und Dateiversarbeitung
pillow
htbuilder

# Zusätzliche Streamlit-Erweiterungen
extra-streamlit-components
streamlit-ace
streamlit-authenticator
streamlit-lottie
streamlit-toggle
streamlit-analytics
streamlit-aggrid
stqdm

# Entwicklungswerkzeuge
pytest
black
