# Hauptbibliotheken
streamlit
pandas
numpy

# Visualisierung
plotly
matplotlib
seaborn
networkx
kaleido
qrcode

# Datenanalyse
scikit-learn
google-cloud-firestore
joblib
protobuf
reportlab

# Datenbank
pymongo
sqlalchemy

# Streamlit-Erweiterungen
extra-streamlit-components
streamlit-extras
streamlit-ace
streamlit-authenticator
streamlit-lottie
streamlit-option-menu
streamlit-toggle
streamlit-analytics
streamlit-aggrid
stqdm

# Leistung und Optimierung
cachetools
concurrent-log-handler

# Dateiformate und I/O
xlsxwriter
openpyxl
py3Dmol
htbuilder

# Entwicklung
pytest
black
